<div class="row main">
  <div class="large-6 large-offset-3 columns">

    <h1 class="text-center">Get in touch</h1>
    <p class="text-center"><em>Find me in app/views/staticpages/contact.html.erb</em></p>

    <form>
      <label>Name
        <input type="text" placeholder="Your name" />
      </label>
      <label>Email
        <input type="text" placeholder="Your email" />
      </label>
      <label>Message
        <textarea placeholder="Your message"></textarea>
      </label>
      <a href="#" class="button small">Send Your Message</a>
    </form>

  </div>
</div>
