<div class="row main">
  <div class="large-6 large-offset-3 columns">

    <h1 class="text-center">How it works</h1>
    <p class="text-center"><em>Find me in app/views/staticpages/how.html.erb</em></p>

  </div>
</div>
