<!-- footer -->
<div class="row">
  <div class="large-3 columns">
    <h6>About Us</h6>
  </div>
  <div class="large-3 columns">
    <h6>Useful Links</h6>
  </div>
  <div class="large-3 columns">
    <h6>Latest Blog Posts</h6>
  </div>
  <div class="large-3 columns">
    <h6>Follow Us</h6>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <p>Made with &hearts; and intention by Lauren Pawell.</p>
  </div>
</div>
